{% extends 'base.html.twig' %}

{% block title %}Edit Cadeau{% endblock %}

{% block body %}
    <h1>Edit Cadeau</h1>

    {{ include('cadeau/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cadeau_index') }}">back to list</a>

    {{ include('cadeau/_delete_form.html.twig') }}
{% endblock %}
