{% extends 'base.html.twig' %}

{% block title %}New Cadeau{% endblock %}

{% block body %}
    <h1>Create new Cadeau</h1>

    {{ include('cadeau/_form.html.twig') }}

    <a href="{{ path('cadeau_index') }}">back to list</a>
{% endblock %}
